.modalBackground
{
background-color: Gray;
filter: alpha(opacity=80);
opacity: 0.8;
z-index: 10000;
}
.chzn-single
{
    height:28px !important;
}
.ui-spinner input
{
    border:none;
}
input[type="text"].ui-spinner-box:active,
input[type="text"].ui-spinner-box:active
{
    background-color:White !important;
    -moz-box-shadow: inset 0 0 10px White !important;
-webkit-box-shadow: inset 0 0 10px White !important;
box-shadow: inset 0 0 10px White 
}
input[type="text"].ui-spinner-box:focus,
input[type="text"].ui-spinner-box:focus
{
    background-color:White !important;
    -moz-box-shadow: inset 0 0 10px White !important;
-webkit-box-shadow: inset 0 0 10px White !important;
box-shadow: inset 0 0 10px White 
}
input[type="text"]
{
    -moz-box-shadow: inset 0 0 10px rgba(0,0,0,.06);
-webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.06);
box-shadow: inset 0 0 10px rgba(0,0,0,.06);
z-index: 2;
border: 1px solid #ccc;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
-moz-transition: 0.3s all ease;
-ms-transition: 0.3s all ease;
-o-transition: 0.3s all ease;
-webkit-transition: 0.3s all ease;
transition: 0.3s all ease;
}
textarea
{
-moz-box-shadow: inset 0 0 10px rgba(0,0,0,.06);
-webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.06);
box-shadow: inset 0 0 10px rgba(0,0,0,.06);
z-index: 2;
border: 1px solid #ccc;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
-moz-transition: 0.3s all ease;
-ms-transition: 0.3s all ease;
-o-transition: 0.3s all ease;
-webkit-transition: 0.3s all ease;
transition: 0.3s all ease;
}
 input[type="text"]:focus {
    outline: none;
    border: 1px solid rgb(0, 68, 204);
    box-shadow: 0px 0px 8px rgb(0, 136, 204);
    -moz-box-shadow: 0px 0px 8px rgb(0, 136, 204);
    -webkit-box-shadow: 0px 0px 8px rgb(0, 136, 204);
    background: #f3fee7 !important;
    
}
textarea:focus {
    outline: none;
    border: 1px solid rgb(0, 68, 204);
    box-shadow: 0px 0px 8px rgb(0, 136, 204);
    -moz-box-shadow: 0px 0px 8px rgb(0, 136, 204);
    -webkit-box-shadow: 0px 0px 8px rgb(0, 136, 204);
    background: #f3fee7 !important;
    
}
 select:focus {
    outline: none;
    border: 1px solid rgb(0, 68, 204);
    box-shadow: 0px 0px 8px rgb(0, 136, 204);
    -moz-box-shadow: 0px 0px 8px rgb(0, 136, 204);
    -webkit-box-shadow: 0px 0px 8px rgb(0, 136, 204);
    background: #f3fee7 !important;
    
}
 input[type="radio"]:focus {
    outline: none;
    border: 1px solid rgb(0, 68, 204);
    box-shadow: 0px 0px 8px rgb(0, 136, 204);
    -moz-box-shadow: 0px 0px 8px rgb(0, 136, 204);
    -webkit-box-shadow: 0px 0px 8px rgb(0, 136, 204);
    background: #f3fee7 !important;
    
}
 input[type="checkbox"]:focus {
    outline: none;
    border: 1px solid rgb(0, 68, 204);
    box-shadow: 0px 0px 8px rgb(0, 136, 204);
    -moz-box-shadow: 0px 0px 8px rgb(0, 136, 204);
    -webkit-box-shadow: 0px 0px 8px rgb(0, 136, 204);
    background: #f3fee7 !important;
   border:2px solid #006469  !important; 
}
input[type="checkbox"]:HOVER {
    outline: none;
    border: 1px solid rgb(0, 68, 204);
    box-shadow: 0px 0px 8px rgb(0, 136, 204);
    -moz-box-shadow: 0px 0px 8px rgb(0, 136, 204);
    -webkit-box-shadow: 0px 0px 8px rgb(0, 136, 204);
    background: #f3fee7 !important;
   border:2px solid #006469  !important; 
}
 input[type="password"]:focus {
    outline: none;
    border: 1px solid rgb(0, 68, 204);
    box-shadow: 0px 0px 8px rgb(0, 136, 204);
    -moz-box-shadow: 0px 0px 8px rgb(0, 136, 204);
    -webkit-box-shadow: 0px 0px 8px rgb(0, 136, 204);
    background: #f3fee7 !important;
}

input[type="password"]
{
    height: 28px;
-moz-box-shadow: inset 0 0 10px rgba(0,0,0,.06);
-webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.06);
box-shadow: inset 0 0 10px rgba(0,0,0,.06);
z-index: 2;
border: 1px solid #ccc;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
-moz-transition: 0.3s all ease;
-ms-transition: 0.3s all ease;
-o-transition: 0.3s all ease;
-webkit-transition: 0.3s all ease;
transition: 0.3s all ease;
}
.modalPopup 
{
    border: 2px solid Gray;
    background-color:#ffffdd; 
        padding:2px; 
        width:240px; 
        border-radius:19px;
        Moz_border-radius:19px;
    margin-left: 109px;
    -webkit-animation-name: pop;
-webkit-animation-duration: .5s;
-webkit-animation-iteration-count: 1;
-webkit-animation-timing-function: ease-in;
}
   .GreenyPushButton.active {
  color: rgba(255, 255, 255, 0.75);
}
.GreenyPushButton {
  padding: 4px 14px;
    -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;
    background-color: rgb(0, 68, 204);
    background-repeat: repeat-x;
    border-bottom-color: rgba(0, 0, 0, 0.247059);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-collapse: collapse;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgba(0, 0, 0, 0.0980392);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgba(0, 0, 0, 0.0980392);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgba(0, 0, 0, 0.0980392);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0px;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px;
    vertical-align: middle;
    background-image: -webkit-linear-gradient(top, rgb(0, 136, 204), rgb(0, 68, 204));
}
 .popup 
  {  
  

   padding: 0;
   font-color:black;
   border-radius: 10px 10px 2px 2px;
   box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
}


.txt_bx
{
   visibility:hidden;    
}

div.hideSkiplink
{
    background-color:#C0C0C0;
    width:900px;
	margin-top: 25px;
	height: 30px;
}

.lblhtml {
    float: right;
    font-style: oblique;
    font-weight: 500;
    padding-right: 100px;
    text-align: center;
    margin-top: 8px;
}

.txthtml {
    float: right;
    background-color: transparent;   
    font-weight: 500;
    width: 80px;
    height: 18px;
}

   .GreenPushButton:focus{background-color: rgb(143, 181, 40);
   }
   .GreenPushButton:hover{background-color: rgb(143, 181, 40);
   }
.GreenPushButton {
    padding: 4px 14px;
    background-color: rgb(0, 68, 204);
    background-repeat: repeat-x;
    border-bottom-color: rgba(0, 0, 0, 0.247059);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-collapse: collapse;
    border-left-color: rgba(0, 0, 0, 0.0980392);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgba(0, 0, 0, 0.0980392);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgba(0, 0, 0, 0.0980392);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0px;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px;
    vertical-align: middle;

}
